<div *ngIf="service" class="container" id="service-page">
  <div class="row">
    <div class="col">
      <div class="services-card">
        <div class="title">
          <h3 class="activity">{{ service.activity }}</h3>
          <h3 class="location">{{ service.location }}</h3>
        </div>
        <div
          class="services-image"
          [style.backgroundImage]="
            'url(../../../../assets/' + service.background + ')'
          "
        ></div>
        <div class="services-info">
          <p>{{ service.description }}</p>
          <div class="buttons">
            <div>
              <img src="../../assets/time.svg" alt="time" />
              <span>Времетраене: {{ service.time }}ч.</span>
            </div>
            <div>
              <img src="../../assets/wallet.svg" alt="price" />
              <span>Цена: {{ service.price }}лв.</span>
            </div>
          </div>
          <button routerLink="/">Назад</button>
        </div>
      </div>
    </div>
  </div>
</div>
