<div class="container" id="service-page">
  <div class="row">
    <div class="col">
      <div class="services-card">
        <div class="title">
          <h3 class="activity">data.card.activity}</h3>
          <h3 class="location">data.card.location}</h3>
        </div>
        <div class="services-image"></div>
        <div class="services-info">
          <p>data.card.description}</p>
          <div class="buttons">
            <div>
              <img src="../../assets/time.svg" alt="time" />
              <span>Времетраене: data.card.time}ч.</span>
            </div>
            <div>
              <img src="../../assets/wallet.svg" alt="price" />
              <span>Цена: data.card.price}лв.</span>
            </div>
          </div>
          <button routerLink="/">Назад</button>
        </div>
      </div>
    </div>
  </div>
</div>
