<!-- modal -->
<div class="services-wrapper">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Предлагани Услуги</h2>
        <div class="row">
          <div
            class="col-sm-12 col-md-6 col-xl-4"
            *ngFor="let card of services"
          >
            <div class="services-card">
              <div class="title">
                <h3 class="activity">{{ card.activity }}</h3>
                <h3 class="location">{{ card.location }}</h3>
              </div>
              <div
                class="services-image"
                [style.background]="card.background"
              ></div>
              <div class="services-info">
                <div>
                  <img src="../../../../assets/time.svg" alt="time" />
                  <span>Времетраене: {{ card.time }}ч.</span>
                </div>
                <div>
                  <img src="../../../../assets/wallet.svg" alt="price" />
                  <span>Цена: {{ card.price }}лв.</span>
                </div>
                <!-- <Link to={`/${card.id}`} state={{ data: { card } }}>
                                        Виж повече
                                    </Link> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
