@import "../../../constants.scss";

div.services-wrapper {
  div.container {
    margin-bottom: 50px;
    div.row {
      div.col {
        h2 {
          color: $orange;
          font-family: $SofiaBold;
          font-size: 32px;
          line-height: 39px;
          text-transform: uppercase;
          position: relative;
          box-sizing: border-box;
          letter-spacing: 0px;
          text-align: center;
          padding-bottom: 32px;
          &::after {
            content: "";
            position: absolute;
            display: block;
            height: 2px;
            width: 60%;
            background-color: $orange;
            left: 20px;
          }
        }
        div.row {
          div[class^="col"] {
            padding: 0 20px;
            box-sizing: border-box;
            margin-bottom: 40px;
            div.services-card {
              box-shadow: 0px 3px 6px #00000029;
              border-radius: 0px 0px 24px 24px;
              div.title {
                background-color: $orange;
                padding: 5px 0;
                box-sizing: border-box;
                h3.activity {
                  color: #58595b;
                  font-family: $SofiaItalic;
                  font-size: 20px;
                  line-height: 23px;
                  box-sizing: border-box;
                  letter-spacing: 0px;
                  text-align: center;
                }
                h3.location {
                  color: #fff;
                  font-family: $SofiaBold;
                  font-size: 20px;
                  line-height: 23px;
                  text-transform: uppercase;
                  box-sizing: border-box;
                  letter-spacing: 0px;
                  text-align: center;
                }
              }
              div.services-image {
                height: 220px;
                background-repeat: no-repeat;
                background-size: cover;
                cursor: pointer;
              }
              div.services-info {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: flex-start;
                position: relative;
                padding: 10px 0;
                box-sizing: border-box;
                div {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: nowrap;
                  align-items: center;
                  padding: 0 0 0 20px;
                  box-sizing: border-box;
                  span {
                    color: #58595b;
                    font-family: $SofiaMedium;
                    font-size: 16px;
                    line-height: 16px;
                    letter-spacing: 0px;
                    padding: 10px 5px;
                    box-sizing: border-box;
                  }
                }
                a {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  text-align: center;
                  text-decoration: none;
                  position: absolute;
                  right: 20px;
                  top: 0;
                  bottom: 0;
                  height: 50%;
                  margin: auto 0;
                  font-family: $SofiaBold;
                  text-transform: uppercase;
                  font-size: 20px;
                  line-height: 23px;
                  color: #fff;
                  background-color: $orange;
                  padding: 5px;
                  border: none;
                  box-shadow: 0px 3px 6px #00000029;
                  border-radius: 8px;
                  cursor: pointer;
                  box-sizing: border-box;
                  &hover {
                    color: $grey;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  div.services-wrapper {
    div.container {
      div.row {
        div.col {
          h2 {
            font-size: 24px;
            line-height: 29px;
            &::after {
              width: 80%;
              position: absolute;
              margin: 0 auto;
              left: 0;
              right: 0;
            }
          }
          div.row {
            div[class^="col"] {
              padding: 0 20px;
              box-sizing: border-box;
              margin-bottom: 40px;
              div.services-card {
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 0px 0px 24px 24px;
                div.title {
                  background-color: $orange;
                  padding: 5px 0;
                  box-sizing: border-box;
                  h3.activity {
                    color: #58595b;
                    font-family: $SofiaItalic;
                    font-size: 16px;
                    line-height: 23px;
                    box-sizing: border-box;
                    letter-spacing: 0px;
                    text-align: center;
                  }
                  h3.location {
                    color: #fff;
                    font-family: $SofiaBold;
                    font-size: 16px;
                    line-height: 18px;
                    text-transform: uppercase;
                    box-sizing: border-box;
                    letter-spacing: 0px;
                    text-align: center;
                  }
                }
                div.services-image {
                  height: 220px;
                  background-repeat: no-repeat;
                  background-size: cover;
                  cursor: pointer;
                }
                div.services-info {
                  display: flex;
                  flex-direction: column;
                  flex-wrap: nowrap;
                  align-items: flex-start;
                  position: relative;
                  padding: 10px 0;
                  box-sizing: border-box;
                  div {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    align-items: center;
                    padding: 0 0 0 20px;
                    box-sizing: border-box;
                    span {
                      color: #58595b;
                      font-family: $SofiaMedium;
                      font-size: 13px;
                      line-height: 13px;
                      letter-spacing: 0px;
                      padding: 10px 5px;
                      box-sizing: border-box;
                    }
                  }
                  a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    text-decoration: none;
                    position: absolute;
                    right: 20px;
                    top: 0;
                    bottom: 0;
                    height: 45%;
                    margin: auto 0;
                    font-family: $SofiaBold;
                    text-transform: uppercase;
                    font-size: 16px;
                    line-height: 18px;
                    color: #fff;
                    background-color: $orange;
                    padding: 5px;
                    border: none;
                    box-shadow: 0px 3px 6px #00000029;
                    border-radius: 8px;
                    cursor: pointer;
                    box-sizing: border-box;
                    &hover {
                      color: $grey;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
