<div id="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        <div class="contact-logo"></div>
        <div class="contact-background">
          <div class="text-container">
            <h3>
              Не се колебай <br />
              свържи се с нас
            </h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
              sequi quia aperiam voluptate earum, velit quidem illum temporibus
              nemo, minus sit debitis unde. Rerum, id fugiat sunt ducimus magni
              excepturi harum pariatur quisquam quis accusantium repellendus
              earum quasi quod quaerat officiis repellat itaque ut delectus,
              illum maiores hic tempore nam?
            </p>
            <button>Пиши ни</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
