<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-logo col-sm-12 col-lg-2"></div>
      <div class="footer-arrow col-lg-7"></div>
      <div class="contact-list col-sm-12 col-lg-3">
        <div>
          <span>+359 875 625 985</span>
          <!-- <FaPhoneVolume /> -->
        </div>
        <div>
          <span>travel@gmail.com</span>
          <!-- <FaEnvelope /> -->
        </div>
        <div>
          <span>Варна, ул. Някоя 23</span>
          <!-- <FaMapPin /> -->
        </div>
      </div>
    </div>
  </div>
</div>
