@import "./assets/fonts/fonts.scss";

// colors
$grey: #58595b;
$orange: #fe7e5b;

// fonts
$SofiaBoldItalic: "SofiaBoldItalic";
$SofiaBold: "SofiaBold";
$SofiaMedium: "SofiaMedium";
$SofiaExtraBoldItalic: "SofiaExtraBoldItalic";
$SofiaRegular: "SofiaRegular";
$SofiaMediumItalic: "SofiaMediumItalic";
$SofiaItalic: "SofiaItalic";
