<div class="navigation-wrapper">
  <div class="container">
    <div class="row navigation">
      <div class="col">
        <div class="hamburger">
          <div></div>
        </div>
        <span class="about-us-btn" (click)="scrollTo('#about-wrapper')"
          >За нас</span
        >
      </div>
      <div class="col">
        <span class="contacts-btn" (click)="scrollTo('#contact-us')"
          >Контакти</span
        >
      </div>
      <div class="logo">
        <div class="logo-arrow"></div>
      </div>
    </div>
  </div>
</div>
